<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
    <title>Heroes List</title>
</head>
<body>
<div th:insert="header.html :: navbar"></div>
<main class="container">
    <div class="my-3 row">
        <div class="col-10 offset-1 p-3 rounded bg-dark text-light">
            <h1>Heroes List</h1>
            <hr>

            <table class="table table-dark text-center">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Ville</th>
                    <th>Téléphone</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>1er incident</th>
                    <th>2ème incident</th>
                    <th>3ème incident</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="hero : ${heroes}">
                    <td th:text="${hero.name}"></td>
                    <td th:text="${hero.city.nom}"></td>
                    <td th:text="${hero.phone}"></td>
                    <td th:text="${hero.longitude}"></td>
                    <td th:text="${hero.latitude}"></td>
                    <td th:text="${hero.incident1.getNom()}"></td>
                    <td th:text="${hero.incident2.getNom()}"></td>
                    <td th:text="${hero.incident3.getNom()}"></td>
                    <td>
                        <a th:href="@{/heroes/edit/{id}(id=${hero.id})}" class="btn btn-warning me-2">Edit</a>
                        <a th:href="@{/heroes/delete/{id}(id=${hero.id})}" class="btn btn-danger" onclick="return confirm('Are you sure you wanna delete that hero?')">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
            <div class="text-end">
                <a th:href="@{/heroes/create}" class="btn btn-success">Add Hero</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>